
* {
	padding: 0;
	margin: 0;
	border: 0
}
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
:active,
:focus {
	outline: none
}
a:active,
a:focus {
	outline: none
}
aside,
footer,
header,
nav {
	display: block
}
body,
html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
button,
input,
textarea {font-family: inherit}
input::-ms-clear {display: none}
button {Ñursor: pointer}
button::-moz-focus-inner {padding: 0;border: 0}a,a:visited {text-decoration: none}a:hover {text-decoration: none}ul li {list-style: none}img {vertical-align: top}h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}


.logo{
	max-height: 50px;
}
.wrapper {
	background-image: url("https://esportsku.com/tech/wp-content/uploads/2021/02/20200015d2f44356-784c-0a36-a74c-88e15e0f3aeb.jpg");
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 54em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-height: 100%;
	background-repeat: no-repeat;
}

.content {
	max-width: 1300px;
	padding: 0px 10px;
	margin: 0px auto;
	overflow: hidden
}

.header_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 40px 0px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.header_part2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.header_nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.header_nav button {
	color: white;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin: 0px 15px;
	background-color: transparent
}

.header_nav button:hover {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin: 0px 15px;
	color: white;
	font-weight: 500;
	cursor: pointer;
}
.navigation__link{
	

}
.header_btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.header_btns button {
	display: inline-block;
	padding: 14px 36px;
	background-color: #FB8F1D;
	border-radius: 8px;
	font-family: Inter;
	font-weight: 500;
	font-size: 15px;
	color: #fff;
	border: 1px solid #FB8F1D;
	margin: 9px;
	cursor: pointer;
}

.header_btns button:hover {
	background-color: transparent;
	color: #FB8F1D
}

@media (max-width:768px) {
	.burger {
		display: block
	}
	.line1 {
		display: block;
		height: 2px;
		width: 30px;
		background: #000;
		margin: 3px 0px
	}
	.line2 {
		display: block;
		height: 2px;
		width: 30px;
		background: #000;
		margin: 3px 0px
	}
	.line3 {
		display: block;
		height: 2px;
		width: 30px;
		background: #000;
		margin: 3px 0px
	}
	.header_btns {
		display: none
	}
	.header_nav {
		display: none
	}
}

.line1._activeLine1 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: relative;
	top: 4px;
	-webkit-transition: all ease-in, ease-out 1s;
	transition: all ease-in, ease-out 1s
}

.line2._activeLine2 {
	display: none
}

.line3._activeLine3 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all ease-in, ease-out 1s;
	transition: all ease-in, ease-out 1s
}

.burger_list {
	display: none;
	opacity: 0;
	position: relative;
	height: 0%
}

._activeList {
	display: block;
	position: relative;
	opacity: 1;
	background: #22222222;
	padding: 10px 0px;
	text-align: center;
	height: 100%;
	-webkit-transition: all 1s;
	transition: all 1s
}

.burger_list button {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin: 0px 15px;
	background-color: transparent
}

.burger_list button:hover {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin: 0px 15px;
	color: #202336;
	font-weight: 500
}

.burger_list a {
	display: inline-block;
	padding: 14px 36px;
	background-color: #FB8F1D;
	border-radius: 8px;
	font-family: Inter;
	font-weight: 500;
	font-size: 15px;
	color: #fff;
	border: 1px solid #FB8F1D;
	margin: 9px
}
.sect1_nav {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: 1fr 1fr;
	grid-template-rows: 1fr 1fr
}

.sect1_nav>:first-child {
	-ms-grid-row: 1;
	-ms-grid-column: 1
}

.sect1_nav>:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2
}

.sect1_nav>:nth-child(3) {
	-ms-grid-row: 2;
	-ms-grid-column: 1
}

.sect1_nav>:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 2
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border: 0.8px solid #AFB0B9;
	border-radius: 6px;
	max-width: 220px;
	max-height: 52px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 30px 0px
}

.nav span {
	font-family: Inter;
	font-size: 15px;
	line-height: 32px
}

.nav_active {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: rotate 1s;
	transition: rotate 1s
}
.section2{
	margin-bottom: 430px;
}
.sect2_part2 {
	font-size: 30px;
	color: white;
	max-width: 600px;
	left: 100px;
	opacity: 0;
	top: 260px;
}

.sect2_part2.element-show {
	position: relative;
	left: 0px;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s
}

.sect2_part2 h2 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	margin: 0px 0px 20px
}

.sect2_part2 span {
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 30px;
	color: #7D7987
}

.sect2_part2 a {
	display: inline-block;
	padding: 14px 36px;
	background-color: #FB8F1D;
	border-radius: 8px;
	font-family: Inter;
	font-weight: 500;
	font-size: 15px;
	color: #fff;
	border: 1px solid #FB8F1D;
	margin: 9px
}
.main{
	font-family: Inter;
}
.sect2_part2 a:hover {
	background-color: transparent;
	color: #FB8F1D
}

.section3 {
	margin: 240px 0px 0px
}

.section3 h1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px
}

.section3_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 56px 0px 0px
}

.sect3_elem {
	margin: 0px auto;
	opacity: 0
}

.sect3_elem.element-show {
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s
}

.sect3_elem img {
	-o-object-fit: cover;
	object-fit: cover;
	position: relative;
	z-index: 0;
	border-radius: 6px;
	overflow: hidden
}

.sect3_txt {
	position: relative;
	top: -56;
	background-color: #fff;
	color: #000;
	z-index: 1;
	max-width: 120px;
	border-radius: 0px 6px 0px 0px
}

.sect3_txt span:first-child {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 27px
}

.sect3_txt span:nth-child(3) {
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 30px;
	color: #7D7987
}

.section4_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 200px 0px 0px
}

.sect4_part1 {
	max-width: 450px;
	margin: 0px auto;
	position: relative;
	right: 180px;
	opacity: 0
}

.sect4_part1.element-show {
	position: relative;
	right: 0px;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s
}

.sect4_part1 h1 {
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px
}

.sect4_part1 span {
	display: block;
	margin: 20px 0px 0px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 30px
}

.sect4_part1 a {
	cursor: pointer;
	display: inline-block;
	padding: 14px 36px;
	background-color: #FB8F1D;
	border-radius: 8px;
	font-family: Inter;
	font-weight: 500;
	font-size: 15px;
	color: #fff;
	border: 1px solid #FB8F1D;
	margin: 9px;
	margin: 39px 0px 0px
}

.sect4_part1 a:hover {
	background-color: transparent;
	color: #FB8F1D
}

.sect4_part2 {
	margin: 0px auto;
	position: relative;
	left: 180px;
	opacity: 0
}

.sect4_part2.element-show {
	position: relative;
	left: 0px;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s
}

.sect4_part2 img {
	-o-object-fit: cover;
	object-fit: cover;
	max-height: 100%;
	max-width: 100%
}

.section5 {
	margin: 240px 0px 0px
}

.sect5_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.section5 h1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	margin: 0px 0px 145px
}

.sect5_part1 {
	max-width: 450px;
	position: relative;
	left: 140px;
	opacity: 0
}

@media (max-width:768px) {
	.sect5_part1 {
		margin: 0px auto
	}
}

.sect5_part1.element-show {
	position: relative;
	left: 0px;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s
}

.stars {
	margin: 0px 0px 30px
}

.slider_block {
	max-width: 375px;
	overflow: hidden
}

.slider_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative
}

.slider_txt {
	font-family: Mulish;
	font-size: 24px;
	line-height: 36px;
	min-width: 375px
}

.sect5_part1 span:nth-child(4) {
	display: block;
	margin: 40px 0px 0px 0px;
	font-family: Inter;
	font-weight: bold;
	font-size: 22px;
	line-height: 48px
}

.sect5_part1 span:nth-child(6) {
	font-family: Inter;
	font-size: 18px;
	line-height: 48px
}

@media (max-width:768px) {
	.sect5_part2 {
		margin: 0px auto
	}
}

.sect5_part2 img:first-child {
	-o-object-fit: cover;
	object-fit: cover;
	max-height: 100%;
	max-width: 100%;
	border-radius: 7px
}

.slider_arrays {
	position: relative;
	top: -60px;
	left: 60%;
	background-color: #fff;
	border-radius: 16px 0px 0px 0px;
	padding: 5px 0px
}

.slider_arrays img {
	margin: 0px 10px;
	padding: 20px;
	border-radius: 100%;
	border: 1px solid #000
}

.slider_arrays img:first-child {
	margin: 0px 10px;
	padding: 20px;
	border-radius: 100%;
	border: 1px solid #000;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	color: #D7D7D7
}


.footer {
	background-color: #F9F9FB
}

.footer_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 100px 0px
}

.footer_part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.footer_part img {
	max-width: 44px;
	max-height: 44px;
	-o-object-fit: cover;
	object-fit: cover
}

.footer_row div:first-child {
	max-width: 391px
}

.footer_part {
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 44px;
	color: #848484
}

.footer_part span:first-child {
	font-family: Mulish;
	font-weight: bold;
	font-size: 19px;
	line-height: 60px;
	color: #000000
}

.containerL
{
	
	min-height: 400px;
    display: grid;
    grid-template-columns: 8fr 16fr 2fr;
    background-color: red;
    background: linear-gradient(-135deg, rgb(213, 0, 125), rgb(229, 57, 53), rgb(213, 0, 125), rgb(229, 57, 53));
    border-radius: 5px;
}
.button-2L {
	cursor: pointer;
}
.content-holderL
{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 13%;
    padding: 50px;

}

.content-holderL h2
{
    font-size: 34px;
    margin: 20px auto;
}

.content-holderL p
{
    margin: 30px auto;
}

.content-holderL button
{
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
}


.box-2L{
    background-color: white;
    margin: 5px;
}

.login-form-containerL
{

    text-align: center;
    margin-top: 10%;
    padding: 20px;

}
.login-form-containerL h1
{
    color: black;
    font-size: 24px;
    padding: 20px;
}
.input-fieldL
{
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 200px;
    outline: none;
}

.login-buttonL{

    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 125px;
    outline: none;
    background-image: linear-gradient(-135deg, rgb(213, 0, 125), rgb(229, 57, 53), rgb(213, 0, 125), rgb(229, 57, 53));
 
}
.login-buttonL:hover{
 
    
    cursor: pointer;
}