*{
    margin: 0px;
    padding: 0px;;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.containerL
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(-135deg, rgb(213, 0, 125), rgb(229, 57, 53), rgb(213, 0, 125), rgb(229, 57, 53));
    width: 800px;
    height: 440px;
    margin: 10% auto;;
    border-radius: 5px;
}

.content-holderL
{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;
}

.content-holderL h2
{
    font-size: 34px;
    margin: 20px auto;
}

.content-holderL p
{
    margin: 30px auto;
}

.content-holderL button
{
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
}


.box-2L{
    background-color: white;

    margin: 5px;
}

.login-form-containerL
{

    text-align: center;
    margin-top: 10%;
    padding: 20px;

}
.login-form-containerL h1
{
    color: black;
    font-size: 24px;
    padding: 20px;
}
.input-fieldL
{
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 250px;
    outline: none;
}

.login-buttonL{

    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-image: linear-gradient(-135deg, rgb(213, 0, 125), rgb(229, 57, 53), rgb(213, 0, 125), rgb(229, 57, 53));
 
}
.login-buttonL:hover{
 
    
    cursor: pointer;
}
